{% extends 'base.html'%}
{% load widget_tweaks %}

{% block 'conteudo'%}
<h1>{{"Perfil do Usuário"}}</h1>

<table class="table table-hover">
    <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Adiministrador</th>
        <th>Descrição</th>
        <th>Instagram</th>
        <th>Facebook</th>
        <th>Twitter</th>
    </tr>

    <tr>
        <td>{{usuario.nome}}</td>
        <td>{{usuario.email}}</td>
        <td>{{usuario.admin}}</td>
        <td>{{usuario.descricao}}</td>
        <td>{{usuario.instagram}}</td>
        <td>{{usuario.facebook}}</td>
        <td>{{usuario.twitter}}</td>
    </tr>

</table>

<a href="{% url 'usuarios_lista' %}" class="btn btn-primary">
    <i class="fa-sharp fa-regular fa-circle-left"></i> Voltar
</a> 

{% endblock %}
